POSTGRES_PASSWORD=quotes_secret
AUTH_EMAIL=aandrade@balamst.com
AUTH_PASS_HASH=2cfc7b57d427f0edd40c018ced8f63e99828f4752f5425950852585d35f0d41c
JWT_SECRET=change-me-in-production
QUOTES_PORT=8081
API_PORT=8082
